
.wrapper{
    display: grid;
    grid-template-rows: 1fr 9fr;  
    border: 1px solid rgb(224, 76, 31);
  }
  
  .title{
    font-weight: bold;
  }
  
  .body{
    text-decoration: none;
  }
  

  .body_wrong{
    text-decoration: line-through;
  }
  